# Binaries
**/bin
**/obj

# NetLogo
*.tmp.nlogo

# IntelliJ
.idea

# Xcode
*.xcworkspace
*.xcodeproj

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

# Makefile
Makefile
*.make

# nvim
.ccls
.ccls-cache
compile_commands.json

# Visual Studio Code
.vscode

# macOS
.DS_Store
.AppleDouble
.LSOverride

